.account-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.account-nav-item a {
  display: block;
  color: #6c757d;
  font-size: 15px;
}

.account-nav-item a:hover {
  background-color: #f7f7f7;
}

@media (min-width: 992px) {
  .account-nav {
    min-height: 500px;
    border: 2px solid #f0f0f0;
    border-radius: 2px;
  }
  .account-nav ul {
    padding-bottom: 18px;
  }
  .account-nav-title {
    font-size: 20px;
    padding: 24px 26px 0;
    margin-bottom: 1rem;
  }
  .account-nav-item a {
    padding: 5px 26px;
    margin-left: -2px;
    border-left: 2px solid #f0f0f0;
  }
  .account-nav-item--active a {
    color: #333;
    font-weight: 500;
    border-left: 2px solid #333;
  }
}

@media (max-width: 991px) {
  .account-nav-title {
    display: none;
  }
  .account-nav {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .account-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    white-space: nowrap;
    width: 100%;
    border-bottom: 2px solid #f0f0f0;
  }
  .account-nav-item a {
    padding: 8px 16px;
    margin-bottom: -2px;
    border-bottom: 2px solid #f0f0f0;
  }
  .account-nav-item--active a {
    color: #333;
    font-weight: 500;
    border-color: #333;
  }
}

/*
// .address-card
*/
.address-card {
  position: relative;
}

.address-card-badge {
  position: absolute;
  background-color: #333;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 4px 8px 2px;
  top: -2px;
}

.address-card-badge {
  right: .75rem;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.address-card-badge--muted {
  background-color: #f0f0f0;
  color: #333;
}

.address-card-body {
  padding: 1.5rem;
  font-size: 15px;
  line-height: 18px;
}

.address-card-name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1.125rem;
}

.address-card-row + .address-card-row {
  margin-top: .75rem;
}

.address-card-row-title {
  font-size: 12px;
  color: #999;
}

.address-card-footer {
  margin-top: 1.625rem;
}

.address-card--featured .address-card-body {
  padding: 2rem;
}

.address-card--featured .address-card-name {
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 991px) {
  .address-card--featured .address-card-body {
    padding: 1.5rem;
  }
}

@media (max-width: 767px) {
  .address-card--featured .address-card-body {
    padding: 1.375rem;
  }
}

/*
// .addresses-list
*/
.addresses-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.addresses-list-item {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.addresses-list-item--new {
  border-radius: 2px;
  border: 2px dashed #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.addresses-list-divider:last-child {
  display: none;
}

.addresses-list-plus {
  width: 60px;
  height: 60px;
  border: 2px dashed #ebebeb;
  position: relative;
  border-radius: 30px;
  margin-bottom: 24px;
  -webkit-transition: border-color .2s;
  transition: border-color .2s;
}

.addresses-list-plus::before, .addresses-list-plus::after {
  content: '';
  position: absolute;
  width: 32px;
  height: 4px;
  background-color: #e5e5e5;
  border-radius: 1.5px;
  top: calc(50% - 2px);
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.addresses-list-plus::before, .addresses-list-plus::after {
  left: calc(50% - 16px);
}

.addresses-list-plus::after {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.addresses-list-item--new:hover .addresses-list-plus {
  border-color: #e0e0e0;
}

.addresses-list-item--new:hover .addresses-list-plus::before, .addresses-list-item--new:hover .addresses-list-plus::after {
  background-color: #dbdbdb;
}

@media (min-width: 1200px) {
  .addresses-list-item {
    max-width: calc((100% - 32px) / 3);
  }
  .addresses-list-divider:nth-child(2n) {
    width: 16px;
  }
  .addresses-list-divider:nth-child(6n) {
    width: 100%;
    height: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .addresses-list-item {
    max-width: calc((100% - 24px) / 3);
  }
  .addresses-list-divider:nth-child(2n) {
    width: 12px;
  }
  .addresses-list-divider:nth-child(6n) {
    width: 100%;
    height: 12px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .addresses-list-item {
    max-width: calc((100% - 12px) / 2);
  }
  .addresses-list-divider:nth-child(2n) {
    width: 12px;
  }
  .addresses-list-divider:nth-child(4n) {
    width: 100%;
    height: 12px;
  }
}

@media (max-width: 479px) {
  .addresses-list-item {
    max-width: calc((100% - 0px) / 1);
  }
  .addresses-list-divider:nth-child(2n) {
    width: 12px;
  }
  .addresses-list-divider:nth-child(2n) {
    width: 100%;
    height: 12px;
  }
}

/*
// .dashboard
*/
.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard-orders {
  margin-top: 24px;
  width: 100%;
}

@media (min-width: 768px) {
  .dashboard-profile,
  .dashboard-address {
    width: calc(50% - 12px);
  }
}

@media (max-width: 767px) {
  .dashboard-profile,
  .dashboard-address {
    width: 100%;
  }
  .dashboard-address {
    margin-top: 24px;
  }
}

/*
// .profile-card
*/
.profile-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-card-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.profile-card-avatar img {
  border-radius: 50%;
  max-width: 100%;
}

.profile-card-name {
  font-weight: 500;
  line-height: 20px;
}

.profile-card-email {
  font-size: 15px;
  margin-bottom: 24px;
}

/*
// .order-success
*/
.order-success-body {
  max-width: 690px;
  margin: 0 auto;
}

.order-success-header {
  padding: 60px 0 52px;
  text-align: center;
}

.order-success-icon {
  fill: #333;
  margin: 0 auto;
  display: block;
}

.order-success-title {
  margin-top: 24px;
  margin-bottom: 2px;
}

.order-success-subtitle {
  font-size: 19px;
  font-weight: 500;
}

.order-success-actions {
  margin-top: 20px;
}

.order-success-meta {
  margin-bottom: 28px;
  text-align: center;
}

.order-success-meta-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order-success-meta-item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  line-height: 1.25;
  position: relative;
  padding: 2px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order-success-meta-item:not(:last-child):before {
  position: absolute;
  display: block;
  content: '';
  border-left: 2px dashed #ebebeb;
  width: 0;
  height: 100%;
  top: 0;
}

.order-success-meta-item:not(:last-child):before {
  right: -1px;
}

.order-success-meta-title {
  display: block;
  font-size: 13px;
  color: #6c757d;
  margin-bottom: 4px;
}

.order-success-meta-value {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .order-success-header {
    padding: 44px 0 40px;
  }
  .order-success-meta-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .order-success-meta-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .order-success-meta-item:nth-child(2n):before {
    display: none;
  }
  .order-success-meta-item:nth-child(n + 3) {
    margin-top: 16px;
  }
}

/*
// .order-header
*/
.order-header {
  padding: 1.625rem 2rem 1.375rem;
}

.order-header:after {
  display: block;
  content: '';
  clear: both;
}

.order-header-actions {
  margin-top: -1px;
}

.order-header-actions {
  float: right;
}

.order-header-title {
  border-bottom: 2px solid #e5e5e5;
  padding-bottom: 4px;
  margin-bottom: 0;
}

.order-header-title {
  padding-right: 3.5rem;
  float: left;
}

.order-header-subtitle {
  color: #6c757d;
  font-size: 14px;
  line-height: 1.375;
  clear: both;
  padding-top: 12px;
}

.order-header-subtitle mark {
  padding: 0;
  color: #333;
  background: transparent;
  font-weight: 500;
}

@media (min-width: 768px) and (max-width: 991px) {
  .order-header {
    padding: 1.375rem 1.5rem 1.25rem;
  }
}

@media (max-width: 767px) {
  .order-header {
    padding: 1.125rem 1.375rem 1rem;
  }
}

@media (max-width: 440px) {
  .order-header-actions {
    margin-bottom: .875rem;
  }
  .order-header-actions {
    float: none;
  }
  [dir=rtl] .order-header-actions {
    float: none;
  }
}

/*
// .order-list
*/
.order-list a {
  color: inherit;
}

.order-list a:hover {
  color: inherit;
  text-decoration: underline;
}

.order-list table {
  width: 100%;
  font-size: 15px;
}

.order-list-header th,
.order-list-header td {
  text-transform: uppercase;
  color: #6c757d;
  font-size: 13px;
  font-weight: 500;
}

.order-list-footer {
  font-size: 20px;
}

.order-list-footer th {
  font-weight: 500;
}

.order-list-column-image {
  width: 1px;
}

.order-list-column-image .product-image {
  width: 40px;
}

.order-list-column-product {
  line-height: 1.25;
}

.order-list-column-quantity {
  text-align: center;
}

.order-list-column-total {
  text-align: right;
}

.order-list-options {
  color: #6c757d;
  font-size: 13px;
  margin-top: 2px;
}

.order-list-options-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order-list-options-item:not(:last-child) {
  position: relative;
}

.order-list-options-item:not(:last-child) {
  padding-right: 19px;
}

.order-list-options-item:not(:last-child):after {
  position: absolute;
  content: '';
  display: block;
  background: #ccc;
  width: 1px;
  height: 10px;
  top: calc(50% - 5px);
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}

.order-list-options-item:not(:last-child):after {
  right: 9px;
}

[dir=rtl] .order-list-options-item:not(:last-child):after {
  left: 9px;
}

@media (min-width: 576px) {
  .order-list th,
  .order-list td {
    padding: 4px 12px;
  }
  .order-list th:first-child,   .order-list td:first-child {
    padding-left: 1.5rem;
  }
  [dir=rtl] .order-list th:first-child, [dir=rtl]
  .order-list td:first-child {
    padding-right: 1.5rem;
  }
  .order-list th:last-child,   .order-list td:last-child {
    padding-right: 1.5rem;
  }
  [dir=rtl] .order-list th:last-child, [dir=rtl]
  .order-list td:last-child {
    padding-left: 1.5rem;
  }
  .order-list-header th,
  .order-list-header td {
    border-bottom: 2px solid #f0f0f0;
    padding: 10px 12px;
  }
  .order-list-products th,
  .order-list-products td {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .order-list-products tr:first-child th,
  .order-list-products tr:first-child td {
    padding-top: 14px;
  }
  .order-list-products tr:last-child th,
  .order-list-products tr:last-child td {
    padding-bottom: 14px;
  }
  .order-list-products .order-list-column-product {
    padding-left: 4px;
  }
  [dir=rtl] .order-list-products .order-list-column-product {
    padding-right: 4px;
  }
  .order-list-subtotals th,
  .order-list-subtotals td {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .order-list-subtotals tr:first-child th,
  .order-list-subtotals tr:first-child td {
    padding-top: 12px;
    border-top: 1px solid #f0f0f0;
  }
  .order-list-subtotals tr:last-child th,
  .order-list-subtotals tr:last-child td {
    padding-bottom: 12px;
  }
  .order-list-footer th,
  .order-list-footer td {
    padding-top: 14px;
    padding-bottom: 14px;
    border-top: 1px solid #f0f0f0;
  }
}

@media (max-width: 575px) {
  .order-list table,
  .order-list tr,
  .order-list th,
  .order-list td {
    display: block;
    padding: 0;
  }
  .order-list-header,
  .order-list-products,
  .order-list-subtotals,
  .order-list-footer {
    display: block;
  }
  .order-list-header tr,
  .order-list-products tr,
  .order-list-subtotals tr,
  .order-list-footer tr {
    padding: 0 1rem;
  }
  .order-list-header tr,
  .order-list-subtotals tr,
  .order-list-footer tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .order-list-header .order-list-column-label,
  .order-list-subtotals .order-list-column-label,
  .order-list-footer .order-list-column-label {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .order-list-header .order-list-column-quantity,
  .order-list-subtotals .order-list-column-quantity,
  .order-list-footer .order-list-column-quantity {
    display: none;
  }
  .order-list-header tr {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f0f0f0;
  }
  .order-list-products tr {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .order-list-products tr:not(:first-child) {
    border-top: 1px solid #f0f0f0;
  }
  .order-list-products .order-list-column-image {
    width: 40px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .order-list-products .order-list-column-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: calc(100% - 40px);
  }
  .order-list-products .order-list-column-product {
    padding-left: 1rem;
  }
  [dir=rtl] .order-list-products .order-list-column-product {
    padding-right: 1rem;
  }
  .order-list-products .order-list-column-quantity:before {
    content: attr(data-title) " ";
  }
  .order-list-products .order-list-column-total {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .order-list-products .order-list-column-quantity,
  .order-list-products .order-list-column-total {
    margin-top: .625rem;
    margin-bottom: -.125rem;
  }
  .order-list-subtotals {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #f0f0f0;
  }
  .order-list-subtotals th,
  .order-list-subtotals td {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .order-list-footer {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #f0f0f0;
  }
}
