.not-found {
  text-align: center;
}

.not-found-404 {
  font-size: 80px;
  font-weight: 700;
  color: #ebebeb;
  padding: 40px 0 20px;
}

.not-found-content {
  width: 480px;
  max-width: 100%;
  margin: 0 auto;
}

.not-found-title {
  margin-bottom: 30px;
}

.not-found-text {
  margin-bottom: 20px;
}

.not-found-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.not-found-search-input {
  width: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.not-found-search-input {
  margin-right: 10px;
}

@media (max-width: 991px) {
  .not-found-404 {
    font-size: 60px;
  }
}

@media (max-width: 767px) {
  .not-found-404 {
    font-size: 50px;
    line-height: 54px;
    padding: 40px 0 32px;
  }
}