.page-breadcrumb-container {
  padding-bottom: 32px;
}

.page-breadcrumb {
  padding-top: 16px;
}

.breadcrumb {
  background: transparent;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}

.breadcrumb-item {
  color: #999999;
  position: relative;
  padding-left: 0;
  padding-right: 30px;
}

.breadcrumb-item a {
  color: inherit;
  -webkit-transition: color .15s;
  transition: color .15s;
}

.breadcrumb-item a:hover {
  color: #1a66ff;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0;
  padding-right: 30px;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: none;
}

.breadcrumb-item.active {
  color: #000000;
}

.page-breadcrumb svg {
  fill: #d1d1d1;
  position: absolute;
  top: 5px;
  right: 11px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media (max-width: 767px) {
  .page-breadcrumb-container {
    padding-bottom: 24px;
  }
}