.horizontal-product-carousel {
  pointer-events: none;
}

.horizontal-product-carousel .owl-stage {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: auto;
}

.horizontal-product-carousel .owl-stage-outer {
  margin-bottom: -100px;
}

.horizontal-product-carousel .owl-item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.horizontal-product-carousel .block-header {
  pointer-events: auto;
}

.horizontal-product-carousel-slider {
  position: relative;
  z-index: 2;
}

.horizontal-product-carousel-preloader {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  bottom: 56px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s, visibility 0s .3s;
  transition: opacity .3s, visibility 0s .3s;
}

.horizontal-product-carousel-preloader:after {
  display: block;
  content: '';
  position: absolute;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: border-color .1s;
  transition: border-color .1s;
  -webkit-animation-name: preloader-animation;
          animation-name: preloader-animation;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.horizontal-product-carousel--loading .horizontal-product-carousel-preloader {
  -webkit-transition-delay: 0s, 0s;
          transition-delay: 0s, 0s;
  opacity: 1;
  visibility: visible;
}

.horizontal-product-carousel-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .horizontal-product-carousel-column {
    display: block;
  }
}

.horizontal-product-carousel-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.horizontal-product-carousel[data-layout="horizontal"] .horizontal-product-carousel-cell {
  flex-grow: 1;
  align-items: flex-start;
}

.horizontal-product-carousel-cell + .horizontal-product-carousel-cell {
  margin-top: 14px;
}

.horizontal-product-carousel-cell .product-card {
  width: 100%;
}

.horizontal-product-carousel[data-layout="horizontal"] .product-card {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.horizontal-product-carousel[data-layout="horizontal"] .product-card .product-card-image {
  width: 120px;
  padding: 16px;
}

.horizontal-product-carousel[data-layout="horizontal"] .product-card .product-card-badges-list {
  top: 10px;
}

.horizontal-product-carousel[data-layout="horizontal"] .product-card .product-card-badges-list {
  left: 10px;
}

.horizontal-product-carousel[data-layout="horizontal"] .product-card .product-card-badge {
  padding: 3px 5px 2px;
}

.horizontal-product-carousel[data-layout="horizontal"] .product-card .product-card-info {
  padding-top: 14px;
  padding-bottom: 42px;
  width: 100%;
}

.horizontal-product-carousel[data-layout="horizontal"] .product-card .product-card-info {
  padding-left: 0;
  padding-right: 30px;
}

.horizontal-product-carousel[data-layout="horizontal"] .product-card .product-card-name {
  overflow: hidden;
  max-height: 38px;
}

.horizontal-product-carousel[data-layout="horizontal"] .product-card .product-card-rating {
  white-space: nowrap;
}

.horizontal-product-carousel[data-layout="horizontal"] .product-card .product-card-description {
  display: none;
}

.horizontal-product-carousel[data-layout="horizontal"] .product-card .product-card-availability {
  display: none;
}

.horizontal-product-carousel[data-layout="horizontal"] .product-card .product-card-buttons {
  display: none;
}

.horizontal-product-carousel[data-layout="horizontal"] .product-card .product-card-actions {
  position: absolute;
  bottom: 18px;
}

.horizontal-product-carousel[data-layout="horizontal"] .product-card .product-card-actions {
  left: 120px;
}

.horizontal-product-carousel[data-layout="horizontal"] .product-card .product-card-features-list {
  display: none;
}

.horizontal-product-carousel[data-layout="horizontal"] .product-card .product-card-buttons {
    display: block;
    margin-top: 20px;
}

.horizontal-product-carousel[data-layout="horizontal"] .product-card .product-card-info {
    padding-bottom: 100px;
}

.horizontal-product-carousel[data-layout="horizontal"] .product-card:hover .product-card-buttons {
    display: block;
    margin-top: 20px;
}
.horizontal-product-carousel[data-layout="horizontal"] .product-card:hover {
    margin-bottom: -58px;
    z-index: 3;
}