{% set pageTitle = "Forget Password" %}
{% extends 'single-store/base.djhtml' %}

{% block head %}
{% endblock %}



{% block content %}
    <div class="get-email">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter Your Email">
        <input type="submit" name="send" id="send" value="Send OTP">
    </div>
    <p id="email-not-found"></p>
    <div class="email-send-notify" style="display: none;">
        <b>Email Sent Successful</b>
        <form method="POST">
            <input type="number" id="otp" name="otp" placeholder="Enter OTP from your email">
            <input type="submit" name="otp_validate" id="otp_validate" value="Verify">
        </form>
    </div>
    <p id="invalid-otp"></p>
{% endblock %}

{% block container %}{% endblock %}

{% block tail %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script>
    $(document).ready(function(){
        $(document).on('click', '#send', function(){
            var email = $("#email").val();
            var otp = Math.floor(Math.random() * 1000000)
            var access_code = Math.floor(Math.random() * 1000000)
            Cookies.set('access_code',access_code, {expires: (1 / 1440) * 1 });
            Cookies.set('otp',otp, {expires: (1 / 1440) * 1 });
            $.ajax({
                url: "/send-otp",
                type: "POST",
                data: {
                    'email':email, 'otp':otp
                },
                success: function(data){
                    console.log(data);
                    if(data.error === false){
                        Cookies.set('id',data.userId);
                        $(".email-send-notify").show();
                        $("#email").prop('disabled', true);
                        $("#email-not-found").hide();
                    }
                    else{
                        $("#email").prop('disabled', false)
                        $(".email-send-notify").hide();
                        $("#email-not-found").show();
                        $("#email-not-found").text("Email Not registered in our system");
                    }
                }
            });
        });
        $(document).on('click', '#otp_validate', function(e){
            e.preventDefault();
            var EnteredOtp = $("#otp").val();
            var emailOtp = Cookies.get("otp");
            var access_code = Cookies.get("access_code");
            if(EnteredOtp == emailOtp){
                window.location.href = "/change-password/"+access_code;
            }   
            else{
                $("#invalid-otp").text("OTP invalid");
            }
            
        });
    });
</script>
{% endblock %}

